*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif ;
    font-weight:400;
}

a{
    color:black
}

hr{
    border-color: rgb(243, 243, 243)
}

main{
    min-width:100vw;
    min-height:100vh;
    background-image: linear-gradient(to top, rgb(245, 245, 245),rgb(255, 255, 255));
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center; 
}

h1{
    color: white;
    font-family: 'Prata' ;
    font-size: 3rem;
    font-weight:100;
    margin: 3rem 0 ;
    color: rgb(209, 0, 122);

    text-align: center;
}

#tweet{
    background-color: white;
    margin:2rem;
    padding:3rem 3rem 1.5rem 3rem;
    max-width:50%;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: rgb(199, 199, 199) 5px 10px 20px;
    transition: 0.4s linear;
}

@media screen and (max-width:850px){
    #tweet{
        max-width:100%;
    }
}
#quote{
    text-align: left;
    line-height: 1.8rem;
    font-size: 1.3rem;
}

#author{
    margin:1rem 0;
    margin-bottom: 2rem;
    text-align: right;
    font-weight:600;
    color: rgb(58, 196, 182);
}
#author,#quote{
    transition: opacity 0.2s linear
}

.fade{
    opacity:0;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#twitter, #newQuoteButton{
    margin:1rem 0 ;
    transition: color 0.2s linear;
}

#twitter:hover{
    color: rgb(12, 133, 127)
}

#newQuoteButton{
    border:none;
    font-size: 1rem;
    color: white;
    background-color: rgb(0, 158, 137);
    padding:1rem 2rem;
    margin:1rem 0;
    cursor: pointer;
    transition: background-color 0.4s linear;
}

#newQuoteButton:hover{
    background-color: rgb(58, 196, 182);
}

#footer{
   margin:3rem 0; 
   text-align: center
}
#footer_business{
    color:rgb(201, 10, 137)
}